assets/fonts/outfit/static/Outfit-Black.ttf
assets/fonts/outfit/static/Outfit-Bold.ttf
assets/fonts/outfit/static/Outfit-ExtraBold.ttf
assets/fonts/outfit/static/Outfit-ExtraLight.ttf
assets/fonts/outfit/static/Outfit-Light.ttf
assets/fonts/outfit/static/Outfit-Medium.ttf
assets/fonts/outfit/static/Outfit-Regular.ttf
assets/fonts/outfit/static/Outfit-SemiBold.ttf
assets/fonts/outfit/static/Outfit-Thin.ttf
assets/fonts/young-serif/OFL.txt
assets/fonts/young-serif/YoungSerif-Regular.ttf
assets/fonts/outfit/OFL.txt
assets/fonts/outfit/Outfit-VariableFont_wght.ttf
assets/fonts/outfit/README.txt
assets/images/favicon-32x32.png
design/desktop-design.jpg
design/desktop-preview.jpg
design/mobile-design.jpg
style-guide.md
